<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace: 必须与对应的接口的全类名一致
		id:必须与我们对应接口的某个对应的方法一致
 -->
<mapper namespace="com.zt.mapper.UserMapper">
	<insert id="save" parameterType="User">
		INSERT INTO user(user_name, user_birthday, user_salary) VALUES(#{name}, #{birthday}, #{salary})
	</insert>
	
</mapper>
