<?xml version="1.0" encoding="UTF-8"?> 
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd  
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <!-- 配置bean -->
    <!-- 配置bean的id，class为包名.类名 ,class must be package name and class name
    	The bean's id is the only flag to recognize the bean-->
    <!-- id="chinese" class="iface.Chinese" -->
    <bean id="chinese" class="iface.Chinese"></bean>
    
    <!-- id="american" class="iface.American"-->
    <bean id="american" class="iface.American"></bean>
    
    
    <!-- Spring配置文件完成对象的注入，通过Class Chinese中的setter方法注入，需要完成setter方法的书写
   		 该方法简单、直观、很容易理解 -->
    <bean id="saychinese" class="iface2.Chinese">
    	<!-- property元素用来指定需要容器注入的属性，language属性需要注入，
    	ref就指向language注入的id -->
    	<!-- That means the attribute language 需要注入 class name:iface2.Chinese -->
    	<property name="language" ref="sayenglish"></property>
    </bean>
    <!-- 注入English -->
    <!-- iface2.English Class has realize the implements Language and can give value by Language -->
    <bean id="sayenglish" class="iface2.English"></bean>
    
    <!-- 构造注入，通过构造方法注入，需要完成构造方法的书写 -->
    <!-- 定义一个bean，注入Chinese类对象 -->
    <bean id="Chinese" class="iface2.Chinese">
    	<!-- 使用构造器注入，为Chinese实例注入Language实例 -->
    	<constructor-arg ref="English"></constructor-arg>
    </bean>
    <!-- 定义一个bean，注入English对象 -->
    <bean id="English" class="iface2.English"></bean>
</beans>