<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<!-- 配置连接数据库的基本信息 -->
    <session-factory>
    
    	<property name="connection.username">root</property>
    	<property name="connection.password">921015</property>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	
    	<!-- "localhost:3306" 默认信息可以省略，hibernate为表名  -->
    	<property name="connection.url">jdbc:mysql:///hibernate</property>
    	
    	<!--  -->
    	<!-- 配置hibernate的基本信息 -->
    	<!-- hibernate所使用的数据库方言  -->
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	
    	<!-- 执行操作时是否在控制台打印SQL -->
    	<property name="show_sql">true</property>
    	
    	<!-- 是否对SQL进行格式化 -->
    	<property name="format_sql">true</property>
    	
    	<!-- 指定自动生成数据表的策略 -->
    	<property name="hibernate.hbm2ddl.auto">update</property>
    	
    	<!-- 指定关联的*.hbm.xml文件，该文件名为目录结构，不是包名.类名 -->
    	<!-- 单向1对多的配置文件引入 -->
    	<!--  
    	<mapping resource="hibernate/n21/Customer.hbm.xml"/>
    	
    	<mapping resource="hibernate/n21/Order.hbm.xml"/>
    	-->
    	
    	<!-- 双向1对多的配置文件引入 -->
    	<!--  
    	<mapping resource="hibernate/n21/multiple/Customer.hbm.xml"/>
    	
    	<mapping resource="hibernate/n21/multiple/Order.hbm.xml"/>
    	-->
    	
    	<!-- 1对1的外键映射 -->
    	<!-- 
    	<mapping resource="hibernate/one2one/foreign/Manager.hbm.xml"/>
    	<mapping resource="hibernate/one2one/foreign/Department.hbm.xml"/>
    	-->
    	<!-- 1对1的主键映射 -->
    	<!-- 
    	<mapping resource="hibernate/one2one/primary/Manager.hbm.xml"/>
    	<mapping resource="hibernate/one2one/primary/Department.hbm.xml"/>
    	 -->
    	 
    	 <!-- n to n 的单向映射关系 -->
    	 <!-- 
    	 <mapping resource="hibernate/n2n/Category.hbm.xml"/>
    	 <mapping resource="hibernate/n2n/Item.hbm.xml"/>
    	 -->
    	 <!-- n to n 的单向映射关系 -->
    	 <!-- 
    	 <mapping resource="hibernate/n2n/multiple/Category.hbm.xml"/>
    	 <mapping resource="hibernate/n2n/multiple/Item.hbm.xml"/>
    	  -->
    	  
    	  <!-- 使用subclass方式进行继承映射 -->
    	  <!-- 
    	  <mapping resource="hibernate/extend/subclass/Person.hbm.xml"/>
    	  -->
    	  
    	  <!-- 使用joined-subclass方式进行继承映射 -->
    	  <!--  
    	  <mapping resource="hibernate/extend/joined/subclass/Person.hbm.xml"/>
    	  -->
    	  
    	  <!-- 使用union-subclass方式进行继承映射 -->
    	  <mapping resource="hibernate/extend/union/subclass/Person.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
