<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- To set Hibernate settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- To set the show_sql value is true -->
		<property name="hibernate.show_sql">true</property>

		<!-- To set the format_sql value is true -->
		<property name="hibernate.format_sql">true</property>

		<!-- To set the hibernate auto update -->
		<property name="hibernate.hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>
